.grid {
  width: 480px;
  height: 700px;
  background-image: url('background4.png');
  position: relative;
  font-size: 80px;
  text-align: center;
  color: rgb(94, 3, 65);
  margin: 0 auto;
  /* Center grid horizontally on the page */
}

.doodler {
  width: 86px;
  height: 80px;
  background-image: url('hello_kitty.png');
  position: absolute;
}

.platform {
  width: 90px;
  height: 35px;
  background-image: url('platform3.png');
  position: absolute;
}


#start-title {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-family: 'Pacifico', cursive;
  color: #ca2755;
  text-align: center;
  white-space: nowrap;
  z-index: 10;
}


#instructions {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  white-space: nowrap;
  font-family: 'Pacifico', cursive;
  color: #c04367b8;
  text-align: center;
  z-index: 10;
}

/* Center start button inside grid */
#start-button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 25px;
  font-family: 'Pacifico', cursive;
  background-color: #e089a2;
  color: white;
  border: 1px solid #ab546c;
  border-radius: 15px;
  border-width: 3.5px;
  cursor: pointer;
  z-index: 10;
  text-align: center;
}

/* Center retry button inside grid */
#restart-button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 25px;
  font-family: 'Pacifico', cursive;
  background-color: #ab546c;
  color: white;
  border: 1px solid #e089a2;
  text-align: center;
  border-radius: 15px;
  border-width: 3.5px;
  cursor: pointer;
  z-index: 10;
  display: none;
  /* Initially hidden */
}

.score-container {
  color: white;
  position: absolute;
  padding: 10px 20px;
  background-color: #d8b0bb;
  color: white;
  border: 1px solid #7c1d38;
  border-radius: 15px;
  border-width: 5px;
  top: 25%;
  left: 22%;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

.score-container .current-score,
.score-container .highest-score {
  color: rgb(201, 43, 69);
}